 /* CSS styles for the navigation bar */
 *{
    margin: 0%;
    padding: 0%;
}
 .navbar {
    background-color: #3d3b3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;

  
}

.navbar-logo {
    color: #f2f2f2;
    font-size: 24px;
    margin-right: 600px;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    position: relative;
}

.navbar a:hover {
    color: #cd621f;
}
.spn{
  color: #cd621f;
  font-weight: 700;
}
.navbar a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #cd621f;
}

.navbar .active {
    color: #f2f2f2;
    
}
.main{
  background: url(../images/home1.jpg) rgba(0, 0, 0, 65%);
  background-size: cover;
  height: 100vh;
  background-blend-mode: multiply;
}
.head {
  position: fixed;
  width: 100%;
}
.btn {
  background-color: #cd621f;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #cd621f;
}
.btn:hover {
  background-color: #cd621f00;
  color: #cd621f;
  border: 2px solid #cd621f;
}

.btn-hover {
  background-color: #cd621f00;
  color: #cd621f !important;
  border: 2px solid #cd621f;
  padding: 6px;
  border-radius: 6px;
}
.btn-hover:hover {
  background-color: #cd621f;
  color: #fff !important;
  border-radius: 6px;
  border: 2px solid #cd621f;
}
.h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cd621f;
    font-size: 100px;
    margin-left: 90vh;
}
form {
    max-width: 350px;
    margin-right: 100vh;
    font-family: Arial, sans-serif;
    background-color: #aeaead;
    padding: 20px;
    border-radius: 5px;
    margin-left: 50px;
  }
  
  label, select, textarea {
    display: inline-flexbox;
    color: #cd621f;
  }
  

  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #cd621f;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 300;
  }
  
  input[type="submit"]:hover {
    background-color: #d1804e;
  }
  