/* CSS for user profile section */
*{
    background-color: #3d3b3a;
    color: #fff;
}
.profile-section {
    text-align: center;
    padding: 20px;
  }
  
  #profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  #user-name {
    margin-top: 10px;
    font-size: 35px;
text-transform: uppercase;
color: #cd621f;

  }
  #edit-description{
    width: 100px;
    margin: 2.5px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    box-shadow: inset 0 0 0 #cd621f;
    transition: 0.3s ease;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #edit-description:hover{
    box-shadow: inset 200px 0 0 #cd621f ;
  }


  #description-form {
    display: none;
  }
  
  #description-input {
    width: 30%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    text-align: center;
    caret-color: #ccc;
  }
  
  #description-input::placeholder {
    text-align: left;
    animation: blink-caret 1s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ccc; }
  }
  
  
  #edit-description:focus {
    outline: none;
  }
  


  #save-btn{
    width: 65px;
    margin: 2.5px;
    padding: 5px;
    border: 2px solid #cd621f;
    border-radius: 25px;
    background-color: #cd621f;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    box-shadow: inset 0 0 0 #cd621f;
    transition: 0.3s ease;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .profile-section p {
    margin-top: 10px;
  }
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
  
  
  /* Responsive CSS */
  @media (max-width: 768px) {
    .container {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 576px) {
    #profile-picture {
      width: 120px;
      height: 120px;
    }
  
    #user-name {
      font-size: 20px;
    }
  
    .section.contact form {
      flex-direction: column;
    }
  
    .section.contact input[type="email"] {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .profile-section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; 
  }
 
  .profile-section {margin-top: 10vh;
    background-color: aqua;
    width: 100vh;
    border-radius: 50px;
    padding: 20px;
  }
  